@model HRM.InputModel.Reservations.BookCreateInputViewModel
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var error = TempData["CustomError"].ToString();
    var errorBool = TempData["CheckBooleans"].ToString();
} 
@if (error != "") { 
    <p class="text-danger">* @error</p>
}
@if (errorBool != "")
{ <p class="text-danger">* @errorBool</p>}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30 text-center">
            <h2>Tour & Travel Reservation Booking Form</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
            <div class="tour-booking-form">
                <form class="" asp-controller="Reservations" asp-action="Book">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <h4 class="tour-form-title">Your Travel Plan Detail</h4>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="control-label required" for="select">Check-in</label>
                                <input type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="CheckDates()" asp-for="CheckIn" class="form-control" required placeholder="Check-In *" value="" />
                                <span asp-validation-for="CheckIn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="control-label" for="datepicker">Check out</label>
                                <input type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="CheckDates()" asp-for="CheckOut" placeholder="Check-Out *" class="form-control" required>
                                <span asp-validation-for="CheckIn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="select">Number of Persons:</label>
                            <input asp-for="Capacity" disabled />
                            <div class="col">
                                <div class="checkbox form-control">
                                    <label asp-for="IsItAllInclusive">
                                        <input asp-for="IsItAllInclusive" class="cl" onclick="CheckIt();"/>
                                        All Inclusive
                                    </label>
                                </div>
                                <div class="col">
                                    <div class="checkbox form-control">
                                        <label asp-for="IncludeBreakfast">
                                            <input class="breakfast" asp-for="IncludeBreakfast" onclik="CheckBreakfast();"/>Breakfast
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label class="control-label">Number of Addults:</label>
                            <input type="number" min="0" max="@Model.Capacity" asp-for="AddultCount" />
                            @*<input type="number" id="Addl" onclick="fnAddult(this);" min="1" max="@Model.Number" asp-for="AddultCount" />*@
                            <div class="col">
                                <label class="control-label">Number of Childs:</label>
                                <input type="number" min="0" max="@Model.Capacity" asp-for="ChildCount" />

                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" value="Book" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }}
<script> 
    function CheckIt() {
        if (!$('.cl').data('clicked')) {
            $('.breakfast').prop('disabled', true);
        }
        else {
            $(".breakfast").removeAttr('disabled');
        }
        $('.cl').data('clicked', true);
    };
    function CheckBreakfast() {
        if (!$('.breakfast').data('clicked')) {
            $('.cl').prop('disabled', true);
        }
        else {
            $(".cl").removeAttr('disabled');
        }
        $('.cl').data('clicked', true);
    };
</script>